* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #1f3540;
    background-repeat: no-repeat;
    background-size: cover;
}
.hide{
    display: none;
}
.upper {
    text-align: center;
    justify-content: center;
    padding: 36px;
    font-size: 22px;
    background-color: #233d49;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 4rem 0rem 4rem;
    padding-top: 20px;
}
.message{
    margin: 10px 25px 30px 25px;
    padding: 15px 20px;
    text-align: center;
    background-color: #6ab98891;
    border-radius: 30px;
    border: 2px solid #2b8a37;
}
.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box {
    width: 180px;
    height: 180px;
    margin: 1px;
    font-size: 80px;
    color: rgb(223, 195, 39);
    background-color: #182a33;
    border: 4px solid #0f1b21;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

.box:hover {
    border-color: #adacac;
    transition: ease-in-out 0.2s;
}
.reset {
    width: 8rem;
    padding: 13px 15px 13px 15px;
    font-size: 18px;
    cursor: pointer;
    background-color: #50996291;
    color: rgb(20, 18, 26);
    border: 2px solid #69c56e;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    display: block;
    margin: 40px auto;
}

.newGame{
    display: none;
}
.newGame:hover,
.reset:hover {
    background-color: #2b8a37;
    transform: scale(1.02); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}